/* font-family: "Oswald", sans-serif;
  font-weight: 200; */

img {
  align-self: center;
}

body {
  background-color: #adcbe3;
}
.header {
  margin: auto;
  width: fit-content;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header-title {
  display: block;
  margin: auto;
  font-size: 3em;
  margin-bottom: 20px;
  border: black solid;
  width: fit-content;
  padding: 40px;
}

.header a {
  color: black;
  display: block;
  margin: auto;
  font-size: 2em;
  border: black solid;
  width: fit-content;
  padding: 10px 15px;

}

.form-container {
  width: fit-content;
  display: block;
  margin: auto;
  text-align: center;
}

.search-form {
  position: relative;
  display: inline-block;
}

.search-bar {
  padding-right: 70px;
}

.search-bar:focus {
  border-color: green;
  outline: green;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: lightcoral;
  border: solid green;
  cursor: pointer;
  height: 100%;
}


@media only screen and (max-width: 811px) {
  /* .header-title {
    display: block;
    margin-left: 10px;
  }

  .header a {
    margin-left: 20px;
  } */
}

@media only screen and (max-width: 480px) {

  .header {
    display: flex;
    flex-direction: column;
}
}

/*
@media only screen and (orientation: portrait) {
  body {
    background-color: dodgerblue;
  }
}

@media only screen and (orientation: landscape) {
  body {
    background-color: lightsalmon;
  }
}  */