/* font-family: "Oswald", sans-serif;
  font-weight: 200; */

img {
  align-self: center;
}

/* body {
  background-color: green;
}

@media only screen and (orientation: portrait) {
  body {
    background-color: dodgerblue;
  }
}

@media only screen and (orientation: landscape) {
  body {
    background-color: lightsalmon;
  }
} */